@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "注册";
}

<h2>@ViewData["Title"].</h2>
<h3>联系账号 @ViewData["LoginProvider"] account.</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>联系表单</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        您已经成功地验证<strong>@ViewData["LoginProvider"]</strong>
        请输入下面的这个网站的用户名，然后单击“注册”按钮完成.
        logging in.
    </p>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">注册</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
